{% extends 'base.html.twig' %}

{% block body %}
    <h1>Food List</h1>
    <a href="{{ path('food_new') }}">Create new food.</a>
    <table>
        <thead>
            <tr>
                <th>Food name</th>
                <th>Category</th>
                <th>Popularity Count</th>
                <th>Description</th>
                <th>Type</th>
                <th>Is published?</th>
                <th>Published Date</th>
                <th>Updated on</th>
            </tr>
        </thead>
        <tbody>

        {% for food in foodList %}
           <tr>
               <td><a href="{{  path('food_show', { 'name': food.name }) }}">{{ food.name }}</a></td>
               <td>{{ food.category }} </td>
               <td>{{ food.popularityCount }} </td>
               <td>{{ food.description }} </td>
               <td>{{ food.type }} </td>
               <td>{{ food.isPublished }} </td>
               <td>{{ food.publishedOn|date("m/d/Y") }} </td>
               <td>{{ food.updatedAt|date('Y-m-d') }}</td>
               <td><a href="{{  path('food_edit', { 'id': food.id }) }}">Edit</td>
               <td><a href="{{  path('food_delete', { 'id': food.id }) }}">Delete</td>

               {#<td>{{ food.updatedAt|date('Y-m-d') }}</td>#}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div>
        <p>dump(foodList)</p>
        {{ dump(foodList) }}
    </div>

{%  endblock %}